/* Global */
body {
  font-family: 'Oswald', sans-serif;
  padding: 8px;
}

/* color */
.w-50 {
  width: 50%;
}

.pr-10 {
  padding-right: 10px;
}

.pl-10 {
  padding-left: 10px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.custom-radio label {
  width: 100%;
  border-radius: 3px;
  border: 1px solid #d1d3d4;
}

input.ipa:empty {
  margin-left: -999px;
  display: none;
}

input.ipa:empty~label {
  position: relative;
  float: left;
  line-height: 2.5em;
  text-indent: 3.25em;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #d1d3d4;
}

input.ipa:empty~label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: "";
  width: 2.5em;
  background: #d1d3d4;
  border-radius: 3px 0 0 3px;
}

input.ipa:hover:not(:checked)~label {
  color: #888;
}

input.ipa:hover:not(:checked)~label:before {
  content: "\2714";
  text-indent: 0.9em;
  color: #c2c2c2;
}

input.ipa:checked~label {
  color: #333;
}

input.ipa:checked~label:before {
  content: "\2714";
  text-indent: 0.9em;
  color: #9ce2ae;
  background-color: #4dcb6d;
}

input.ipa:focus~label:before {
  box-shadow: 0 0 0 3px #888;
}

.custom-select select::-ms-expand {
  display: none;
}

.custom-select select {
  appearance: none;
  -webkit-appearance: none;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iOHB4IiBoZWlnaHQ9IjUzcHgiIHZpZXdCb3g9IjAgMCA4IDUzIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA4IDUzOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxwYXRoIHN0eWxlPSJmaWxsOiM1MjRBNDM7IiBkPSJNNC4wMjgsNTIuOTk0bC00LjAwMy01LjM2OGg4LjAwNkw0LjAyOCw1Mi45OTR6Ii8+CjxwYXRoIHN0eWxlPSJmaWxsOiM1MjRBNDM7IiBkPSJNNC4wMjgsMGw0LjAwMyw1LjM2OEgwLjAyNUw0LjAyOCwweiIvPgo8L3N2Zz4K"), linear-gradient(#4dcb6d, #4dcb6d), linear-gradient(#4dcb6d, #4dcb6d);
  background-position: calc(100% - 17px) -30px, 100%, calc(100% - 42px) 0;
  background-size: auto, 42px 100%, 1px 100%;
  background-repeat: no-repeat;
  background-color: #fff;
  width: 100%;
  max-width: 100%;
  min-width: 8.5rem;
  transition: border-color 0.1s linear;
  border: 1px solid #d1d3d4;
  border-radius: 2px;
  padding: 8px 44px 8px 8px;
  color: #333;
  font-size: 14px;
  height: 42px;
}

.custom-select select:focus {
  border-color: #d1d3d4;
  box-shadow: none;
  outline: 0;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0aD0iOHB4IiBoZWlnaHQ9IjUzcHgiIHZpZXdCb3g9IjAgMCA4IDUzIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCA4IDUzOyIgeG1sOnNwYWNlPSJwcmVzZXJ2ZSI+CjxwYXRoIHN0eWxlPSJmaWxsOiM1MjRBNDM7IiBkPSJNNC4wMjgsNTIuOTk0bC00LjAwMy01LjM2OGg4LjAwNkw0LjAyOCw1Mi45OTR6Ii8+CjxwYXRoIHN0eWxlPSJmaWxsOiM1MjRBNDM7IiBkPSJNNC4wMjgsMGw0LjAwMyw1LjM2OEgwLjAyNUw0LjAyOCwweiIvPgo8L3N2Zz4K"), linear-gradient(#4dcb6d, #4dcb6d), linear-gradient(#4dcb6d, #4dcb6d);
  background-position: calc(100% - 17px) 17px, 100%, calc(100% - 32px) 0;
}

.custom-checkbox .control {
  position: relative;
  padding-left: 54px;
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
}

.custom-checkbox .control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox .control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  width: 42px;
  height: 40px;
  background: #d1d3d4;
}

.custom-checkbox .control--radio .control__indicator {
  border-radius: 50%;
}

.custom-checkbox .control:hover input~.control__indicator,
.custom-checkbox .control input:focus~.control__indicator {
  background: #d1d3d4;
}

.custom-checkbox .control input:checked~.control__indicator {
  background: #4dcb6d;
}

.custom-checkbox .control:hover input:not([disabled]):checked~.control__indicator,
.custom-checkbox .control input:checked:focus~.control__indicator {
  background: #4dcb6d;
}

.custom-checkbox .control__indicator:after {
  position: absolute;
  display: none;
  content: "";
}

.custom-checkbox .control input:checked~.control__indicator:after {
  display: block;
}

.custom-checkbox .control--checkbox .control__indicator:after {
  top: 50%;
  margin-top: -6px;
  left: 50%;
  margin-left: -2px;
  width: 3px;
  height: 8px;
  transform: rotate(45deg);
  border: solid #fff;
  border-width: 0 2px 2px 0;
}

.custom-button {
  justify-content: center;
}

.bttn {
  outline: none;
  font-size: 18px;
  letter-spacing: 2px;
  text-transform: uppercase;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 14px 0px;
  border: 2px solid #4dcb6d;
  border-radius: 2px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
  color: #4dcb6d;
  text-decoration: none;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s ease all;
  cursor: pointer;
  background: #fff;
}

.bttn:hover,
.bttn:focus {
  background: #4dcb6d;
  color: #fff;
}

/* flip card */
.ipa-content {
  height: 100%;
  width: 100%;
  background: #fff;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}

.flip-card {
  background-color: transparent;
  width: 100%;
  height: calc(100vh - 215px);
  perspective: 1000px;
  margin: 0 auto;
  position: relative;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border: 1px solid #d1d3d4;
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #fff;
  color: black;
  z-index: 2;
}

.flip-card-back {
  background-color: #2980b9;
  color: white;
  transform: rotateY(180deg);
  z-index: 1;
}

/* Vowels Color pallete */
.vowels-1 {
  background: #ef6692;
  color: #fff;
}

.vowels-2,
.vowels-3 {
  background: #e0e00a;
  color: #000;
}

.vowels-4,
.vowels-5,
.vowels-6 {
  background: #008000;
  color: #000;
}

.vowels-7,
.vowels-8,
.vowels-9 {
  background: #ad0202;
  color: #fff;
}

.vowels-10,
.vowels-11,
.vowels-11sub {
  background: #2727bf;
  color: #fff;
}

.vowels-12,
.vowels-13,
.vowels-13sub {
  background: #153515;
  color: #fff;
}

.vowels-14,
.vowels-15,
.vowels-15sub {
  background: #860086;
  color: #fff;
}

/* Consonants color pallete */
.consonants-1,
.consonants-2,
.consonants-3,
.consonants-4 {
  background: #008000;
  color: #000;
}

.consonants-5,
.consonants-6 {
  background: #0bb1e8;
  color: #fff;
}

.consonants-7,
.consonants-8 {
  background: #860086;
  color: #fff;
}

.consonants-9,
.consonants-10,
.consonants-11,
.consonants-12 {
  background: #e0e00a;
  color: #000;
}

.consonants-13,
.consonants-14,
.consonants-15,
.consonants-16,
.consonants-17 {
  background: #ad0202;
  color: #fff;
}

.consonants-18,
.consonants-19,
.consonants-20 {
  background: #2727bf;
  color: #fff;
}

.consonants-21,
.consonants-22 {
  background: #153515;
  color: #fff;
}

.consonants-23 {
  background: #ef6692;
  color: #fff;
}

.consonants-24 {
  background: #790000;
  color: #fff;
}